@font-face{
    font-family: 'Gilroy Regular Italic';
    src: url(../assets/fonts/Gilroy-RegularItalic.ttf);
}
@font-face{
    font-family: 'Gilroy Regular';
    src: url(../assets/fonts/Gilroy-Regular.ttf);
}
@font-face{
    font-family: 'Gilroy Black';
    src: url(../assets/fonts/Gilroy-Black.ttf);
}
@font-face{
    font-family: 'Gilroy Black';
    src: url(../assets/fonts/Gilroy-Black.ttf);
}
@font-face{
    font-family: 'Gilroy Black Italic';
    src: url(../assets/fonts/Gilroy-BlackItalic.ttf);
}
@font-face{
    font-family: 'Gilroy Bold';
    src: url(../assets/fonts/Gilroy-Bold.ttf);
}
@font-face{
    font-family: 'Gilroy Bold Italic';
    src: url(../assets/fonts/Gilroy-BoldItalic.ttf);
}
@font-face{
    font-family: 'Gilroy Extra Bold';
    src: url(../assets/fonts/Gilroy-Extrabold.ttf);
}