.ant-layout-header {
    height: 80px;
}

.ant-menu,
.ant-layout-sider-children,
.ant-menu .ant-menu-inline {
    background-color: var(--light-color);
}

.ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-has-trigger {
    height: 100vh;
}

.ant-menu-submenu-arrow::after,
.ant-menu-submenu-arrow::before {
    color: var(--main-text-color);
}

.sidebar-span {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.ant-layout-sider-trigger {
    background-color: var(--primary-color) !important;
}

.navbar {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
    height: 100%;

    form {
        flex: 1;
    }
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.content {
    background-color: var(--main-color);
    height: 100%;
    padding: 20px;
}

.create-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.ant-btn {
    color: var(--light-color) !important;
}

.header-ul {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);

    li {
        font-size: 20px;

        a {
            padding: 10px;
        }
    }
}

.active-menu-link {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

@media only screen and (max-width: 768px) {
    .navbar-btn {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .header-ul {
        display: flex;
        li{
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .create-button {
        display: none;
    }
}