.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-span{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
}