.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 768px){
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 590px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 400px){
    .card-grid{
        grid-template-columns: 1fr;
    }
}

